BingMapServices/ConsoleApplication1/Service References/ServiceReference1/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ILocationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60902/Location.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60902/Location.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_GetLocationByLocality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByLocality" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationByLocality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByLocalityResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationByZip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByZip" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationByZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByZipResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="GetLocationByLocality">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationByLocality" message="tns:ILocationService_GetLocationByLocality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationByLocalityResponse" message="tns:ILocationService_GetLocationByLocality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationByZip">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationByZip" message="tns:ILocationService_GetLocationByZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationByZipResponse" message="tns:ILocationService_GetLocationByZip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ILocationService" type="tns:ILocationService">
    <wsp:PolicyReference URI="#CustomBinding_ILocationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocationByLocality">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetLocationByLocality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationByZip">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetLocationByZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="CustomBinding_ILocationService" binding="tns:CustomBinding_ILocationService">
      <soap12:address location="http://localhost:60902/Location.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:60902/Location.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>